body {
  display: flex;
  margin: 0%;
  background-color: #03071f;
}
.timesOverFlow {
  margin-right: 35px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 60%;
  overflow: auto;
  scrollbar-width: thin;
}

#averages{
  padding: 5;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.average{
  font-family: "Rajdhani", sans-serif;
  font-size: 15px;
  margin-bottom: 8px;
}

#times {
  margin-right: 10px;
  font-family: "Rajdhani", sans-serif;
  text-align: center;
  width: 100%;
  height: 100%;
  list-style: none;
  color: rgba(240, 248, 255, 0.795);
}

.times {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 15em;
  height: 95vh;
  background-color: #091038;
  border-radius: 0 0 20px 20px;
  transition-duration: 2s;
  transition: 1s;
}
#nameRecord{
  font-family: "Rajdhani", sans-serif;
  font-size: 30px;
}
.record{
  padding: 5;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
 #recordTime{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px;
  width: 60%;
  border-radius: 10px;
  padding: 2px; 
  background-color: #131b49;
  font-family: "Rajdhani", sans-serif;
  font-size: 30px;
 }
li {

  margin: 6px;
  border-radius: 10px;
  padding: 2px; 
  background-color: #131b49;

}

.iconDelete {
  cursor: pointer;
  display: flex;
  justify-content: center;
  position: relative;
  float: right;
  border: none;
  width: 10%;
  height: 10%;
  border-radius: 50%;
  margin: 2px;
}
.maintimer {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 200px;

  border-radius: 20px;
}
.time {
  display: flex;
  justify-content: center;
  text-align: center;
}
p {
  margin: 20px 0 15px 0;
  color: rgb(196, 196, 196);
  font-size: 50px;
  font-family: "Rajdhani", sans-serif;
}
span {
  font-style: bold;
  font-size: 100px;
  font-family: "Rajdhani", sans-serif;
  color: rgb(196, 196, 196);
}
::-webkit-scrollbar {
  width: 5px;
  background-color: #77777744;
}

@media (max-width: 100px) {
  .times {
    width: 10%;
  }
}
