body{
	
display: flex;
margin: 0%;
background-color: #03071f;

}
table{
	color: aliceblue;
}
.times{
	padding: 10px;
	width: 15em;
	height: 95vh;
	background-color: #091038;; 
	border-radius: 0 0 20px 20px;
	
}

.maintimer{
	position: absolute;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.timer{
	display: flex;
	justify-content: center;
	align-items: center;

	width: 300px;
	height: 200px;
	border-radius: 20px;
	
}
.time{
	display: flex;
	justify-content: center;
	text-align: center;

	
}

span{
	font-size: 100px;
	font-family: 'Rajdhani', sans-serif;
	color: rgb(196, 196, 196);
}
@media (max-width: 100px)
{
	.times{
		width: 10%;
	}
}